h1{
	color: black;
	text-align: center;
	font-weight: bold;
}
body{
	background: #282b34;
	padding: 50px;
	font-family: sans-serif;
	border: 2px solid black;
}

#p1,#p2{
	font-size:20px

}
img{
	align-items: center;
}
form{
	padding: 50px;
	border: 2px solid grey;
	width: 200px;
}
