<!DOCTYPE html>
<html>
	<head>
		<title>Welcome To Fandom</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="form1.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	<body><font color="grey">
		<nav class="navbar navbar-default">
	    <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="https://www.usbtsarmy.com/tutorials/2018/4/8/how-to-join-bts-fancafe">FanCafe</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active">
	          <a href="form1.html" class="navbar-brand">About</a>
	      </li>
	      <li>
	        <a href="index.html" class="navbar-brand">Home</a>
	      </li>
	    </ul>
	  </div>
	  </nav>
		<h1><font color="purple"><center>ARMY Page</center></font></h1>
		<div class="forms">
		<form class="register">
			<div class="form-group">
			<legend>Register Here</legend></br>
		Enter Your Name :
			<input type="text" placeholder="Your Name Here" name="name" class="form-control">
			<br><br>
			Email :
				<input type="email" placeholder="user@example.com" name="email" class="form-control">
				<br><br>
				Date of Birth :
					<input type="date"  name="dob">
					<br><br>
		Password :
			<input type="password" name="password" placeholder="Password" class="form-control"><br><br>
		Region : <input list="countries"><br><br>
			<datalist id="country">
					<option value="Africa">
  				<option value="Asia">
					<option value="Australia">
  				<option value="Europe">
  				<option value="North America">
  				<option value="South America">
				</datalist>

			<button class="button">Submit</button>
		</div>
		</form></br>
		<form class="signin" action="index.html" methods=["POST"]>
			<legend>Sign In</legend></br>
			Email :
				<input type="email" placeholder="user@example.com" name="userid">
				<br><br>
		Password :
			<input type="password" name="password" placeholder="userpwd"><br><br>
			<button class="button">Sign In</button>

		</form>
	</div>
	</font>
	</body>
</html>
