<!DOCTYPE html>
<html>
	<head>
		<title>Welcome To Fandom</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="form1.css">
	</head>
	<body><font color="grey">
		<h1><font color="purple"><center>ARMY Page</center></font></h1>
		<div class="forms">
		<form class="register">
			<legend>Register Here</legend></br>
		Enter Your Name :
			<input type="text" placeholder="Your Name Here" name="name">
			<br><br>
			Email :
				<input type="email" placeholder="user@example.com" name="email">
				<br><br>
				Date of Birth :
					<input type="date"  name="dob">
					<br><br>
		Password :
			<input type="password" name="password" placeholder="Password"><br><br>
		Region : <input list="countries"><br><br>
			<datalist id="country">
					<option value="Africa">
  				<option value="Asia">
					<option value="Australia">
  				<option value="Europe">
  				<option value="North America">
  				<option value="South America">
				</datalist>

			<button class="button">Submit</button>
		</form></br>
		<form class="signin">
			<legend>Sign In</legend></br>
			Email :
				<input type="email" placeholder="user@example.com" name="email">
				<br><br>
		Password :
			<input type="password" name="password" placeholder="Password"><br><br>
			<button class="button">Sign In</button>

		</form>
	</div>
	</font>
	</body>
</html>
