<!DOCTYPE html>
<html>
<head><title>Welcome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="form1.css">
  <meta charset="utf-8" content="width=device-width initial-scale=1.0" name="viewport">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.usbtsarmy.com/tutorials/2018/4/8/how-to-join-bts-fancafe">FanCafe</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
          <a href="index.html" class="navbar-brand">Home</a>
      </li>
      <li>
        <a href="about.html" class="navbar-brand">About</a>
      </li>
      <li>
        <a href="members.html" class="navbar-brand">Members</a>
      </li>
      <li>
        <a href="signin.html" class="navbar-brand">Sign In</a>
      </li>

    </ul>
  </div>
  </nav>
  <header>Welcome {{user}} </header>
  <center><img src="bts.jpg" align="center" ></center>
  <div id="p1">
  <p>
    I was literally struggling to decide a topic to make a web page on...I desperatelly wanted to make a page on something that I will love..But I couldn't decide on a topic that would be both interesting and fun..(unless you consider sleeping, reading manga, watching geeky movies and other nerdy stuff fun)
  </p>
  <p>
    After a struggle of 10-15 seconds I decided on BTS..But what is it?? Behind the scene?? Beyond the scene?? Before the Story?? Surprise surprise!! It is BangTan Sunyudan.."Bangt.. What??" Well you can Check the about page..Specially made for people who remain oblivious to the existence of the bigget boy band of the century!
  </p>
  Enjoy !!
</div>


</body>
</html>
